@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30rem 24rem;
  gap: 24rem;

  @include tablet {
    flex-direction: row;
    height: 100%;
  }

  &__main-details {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20rem;

    @include tablet {
      background-color: lavender;
      border-radius: 28rem;
    }
  }

  &__title {
    margin-bottom: 20rem;
    text-align: center;
  }

  &__summary {
    margin: 24rem 0rem;
    padding: 0rem 42rem;
  }

  &__coverart {
    border-radius: 12rem;
    width: 200rem;
  }

  &__sub-details {
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: lavender;
    border-radius: 28rem;
    padding: 20rem;
  }

  &__tags-container {
    background-color: pink;
    border-radius: 4rem;
    text-align: center;
    padding: 6rem;
  }

  &__status {
    &--completed {
      border: 0.5rem dashed;
      border-radius: 12rem;
      width: 50%;
      text-align: center;
      background-color: $accent-color;
      color: white;
    }

    &--playing {
      border: 0.5rem dashed;
      border-radius: 12rem;
      width: 50%;
      text-align: center;
      background-color: #a3d8f4;
      color: gray;
    }

    &--wanttoplay {
      border: 0.5rem dashed;
      border-radius: 12rem;
      width: 50%;
      text-align: center;
      background-color: #d4c2fc;
      color: gray;
    }
  }
}

.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 6rem;
}

.label-text {
  &__game {
    flex-direction: space-between;
    text-align: center;
    margin: 0.5rem;
    font-weight: 600;
  }
}

.result-message {
  color: gray;
  font-size: 12rem;
}
