@import '../../styles/partials/global.scss';
@import '../../styles/partials/variables.scss';


.button {
  background-color: $background-color;
  color: $text-color;
  border: none;
  font-weight: bold;
  margin: 8px;
  transition: background-color 0.3s;
  border-radius: 1.25rem;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $primary-color;
    color: $background-color; 
  }

  &:focus {
    // background-color: $secondary-color;
    border: 1px solid gray;
    text-decoration: underline;
  }
}