@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.moods {
  text-align: center;
  margin: 50px 0px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.image {
  &__container {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    position: relative;
    filter: grayscale(0%);
    transition: filter 0.3s, transform 0.3s;

    &.unselected {
      filter: grayscale(100%);
    }

    &:active {
      transform: translateY(-0.25rem);
      filter: grayscale(100%);
    }

    &:after {
      position: absolute;
      transform: translateY(-0.25rem);
      filter: grayscale(100%);
    }

    &:hover {
      transform: translateY(-0.25rem);
      filter: grayscale(0%);
    }
  }
}
