// Breakpoints for Responsive Design
$tablet: 768px;
$desktop: 1280px;

// Font Weights
$regular: 400;
$semibold: 600;

//Primary Colours
$primary-color: #9a7aa0; /* Pastel Purple */
$text-color: #373f47; /* Dark gray Gray */

//Secondary Colours
$secondary-color: #bdcfb5; /* Sky Green */

//Background Colours
$background-color: #f7f3eb; /* Soft Beige */

//Supporting Colors
$accent-color: #8d94ba; /* Subtle Lavender */
$success-color: #c0f8d1; /* Mint Green */
