// Breakpoints for Responsive Design
$tablet: 768px;
$desktop: 1280px;

// Font Weights
$regular: 400;
$semibold: 600;

//Primary Colours
$primary-color: #9A7AA0; /* Pastel Purple */
$text-color: #373F47; /* Dark gray Gray */

//Secondary Colours
$secondary-color: #BDCFB5; /* Sky Green */

//Background Colours
$background-color: #F7F3EB; /* Soft Beige */

//Supporting Colors
$accent-color: #8D94BA; /* Subtle Lavender */
$success-color: #C0F8D1; /* Mint Green */


