@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.card {


  &__container {
    // margin: 30px;
    background-color: $background-color;
    padding: 36px;
    margin: 0px 90px;
    // border-radius: 10px;
    // min-width: 80%;
    justify-items: center;
    width: 100%;
    border-bottom: .5px solid #373F47;



    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1rem;
    }
  }
  
  &__coverart {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.card__action {
  display: flex;
  width: 30px;
  padding: 5px;
  justify-content: left;

}
  
  .section-divider {
    border-bottom: 2px solid var(--accent-color);
    margin: 20px;
  }