@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.card {
  &__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $background-color;
    margin: .9375rem;
    min-width: 100%;
    border-bottom: .0313rem solid lightgray;
    flex-shrink: 1;
    flex-grow: 0;

    @include tablet {
      margin: .625rem;
      border-radius: .625rem;
      border-bottom: none;
      border: .0625rem solid lightgray;
      flex-wrap: wrap;
      width: calc(33.33% - 1.25rem);
      transition: background-color 0.3s;
      min-width: 0%;

      &:hover {
        background-color: $secondary-color;
        box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
      }

      @include desktop {
        width: calc(25% - 1.25rem);
      }
    }
  }

  &__title {
    font-size: 1.5rem;
  }

  &__subtitle {
    font-size: 1rem;

    &--completed {
      border: .0313rem dashed;
      border-radius: .75rem;
      max-width: 50%;
      text-align: center;
      margin: 0 auto;
      background-color: $accent-color;
      color: white;
      flex-grow: 0;
      margin-bottom: 1.25rem;
    }

    &--playing {
      border: .0313rem dashed;
      border-radius: .75rem;
      max-width: 50%;
      text-align: center;
      margin: 0 auto;
      background-color: #a3d8f4;
      color: gray;
      flex-grow: 0;
      margin-bottom: 1.25rem;
    }

    &--wanttoplay {
      border: .0313rem dashed #ffd1a9;
      border-radius: .75rem;
      max-width: 50%;
      text-align: center;
      margin: 0 auto;
      background-color: #d4c2fc;
      color: gray;
      flex-grow: 0;
      margin-bottom: 1.25rem;
    }
  }

  &__coverart {
    width: 12.5rem;
    border-radius: .625rem;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
    flex-grow: 0;
    align-self: flex-start;

    @include tablet {
      width: 9.375rem;
    }
  }

  &__myGame {
    text-align: center;
    padding: .625rem;
    border-radius: .75rem;
    width: 100%;

    @include tablet {
      padding: 1.25rem;
      transition: background-color 0.2s;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  &__button-container {
    display: flex;
    gap: .75rem;
    justify-content: center;
  }
}

.card__action {
  display: flex;
  width: 1.625rem;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 1.25rem;
  flex-shrink: 0;
  flex-grow: 1;
}

.card__icon {
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.section-divider {
  border-bottom: .125rem solid var(--accent-color);
  margin: 1.25rem;
}
