@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";


.navbar {
    color: $background-color;
    background-color: $primary-color;
    border: 1px solid gray;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      padding: 0px 24px;

    }

    &__logo {
      width: 60px;
      justify-self: center;
      flex-grow: 0;
      flex-shrink: 0;
      cursor: pointer;


      @include tablet {
        width: 100px;
      }
    }

    &__menu {
      display: none;

      @include tablet {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      }
    }

    &__discover {
      background-color: lavender;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid gray;
      color: $text-color;

      @include tablet {
        padding: 10px;
        flex-grow: 0;
        flex-shrink: 0;

      }

      &:hover {
        background-color: $secondary-color
      }
    }
  }
  
a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
  
    &:hover {
      color: $text-color;
    }

    &:active {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }

    &:after {
      text-decoration: underline;
    }
  }
  
.site-header {
    color: $background-color;
    text-align: right;
    font-size: small;
  }
  