
@import '../../styles/partials/global.scss';
@import '../../styles/partials/variables.scss';


.navbar {
    background-color: $secondary-color;
    color: $background-color;
    padding: 10px 20px;
  
    a {
      color: $text-color;
      text-decoration: none;
      margin: 0 10px;
  
      &:hover {
        color: $primary-color;
      }
    }
  }
  