@import '../../styles/partials/global.scss';
@import '../../styles/partials/variables.scss';


.navbar {
    background-color: $secondary-color;
    color: $background-color;
    background-color: $primary-color;
    border: 1px solid gray;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 100px;
      justify-self: center;
      flex-grow: 0;
      flex-shrink: 0;
      cursor: pointer;
      }

    &__menu {
      flex-grow: 0;
      flex-shrink: 0;
    }

    &__discover {
      background-color: lavender;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid gray;
      color: $text-color;
      flex-grow: 0;
      flex-shrink: 0;

      &:hover {
        background-color: $secondary-color
      }
    }
  }
  
a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  
    &:hover {
      color: $text-color;
    }

    &:active {
      text-decoration: underline;
    }

    &:focus {
      text-decoration: underline;
    }

    &:after {
      text-decoration: underline;
    }
  }
  
.site-header {
    color: $background-color;
    text-align: right;
    font-size: small;
  }
  