@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";


.gamesList {

    &__header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;

        @include tablet {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
        }
    }

    &__sort-button {
      width: 100%;
      padding: 12px 24px;
      display: flex;
      align-items: center;

      // &::after {
      //   border: 1px solid black;
      //   border-radius: 2px;
      // }
    }

    // &__discover-button {
    //     margin: 16px;
    //     padding: 36px;
    //     background-color: $secondary-color;
    //     border: 1px solid gray;
    //     border-radius: 48px;
    //     color: white;
    //     font-weight: 600;
    //     cursor: pointer;
    //     transition: background-color 0.3s;
    //     transition: transform 0.1s ease-out, background-color 0.3s ease; /* Combined transitions */
      
    //     /* Keyframes for bouncing animation */
    //     @keyframes bounce {
    //       0% {
    //         transform: translateX(0); /* Initial position */
    //       }
    //       25% {
    //         transform: translateX(-.25rem); /* Initial position */
    //       }
    //       50% {
    //         transform: translateX(-0.5rem); /* Bounce up */
    //       }
    //       75% {
    //         transform: translateX(-.25rem); /* Bounce up */
    //       }
    //       100% {
    //         transform: translateX(-.05rem); /* Return to initial position */
    //       }
    //     }
      
    //     &:hover {
    //       border-color: rgb(110, 22, 22);
    //       transform: translateX(-0.25rem);   /* Combine X and Y translations */
    //       animation: bounce 0.6s ease; /* Trigger bounce animation */
    //     }
    //   }



        // transition: background-color 0.3s;
        // transition: transform 0.2s ease;

        //   &:hover {
        //     border-color: rgb(110, 22, 22);
        //     transform: translateX(-0.25rem);
        //     }
        //   }

    &__searcher {
            @extend .form__input;
            background-image: url("../../public/assets/icons/search.svg");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 1.5rem 1.5rem;
            width: 60vh;
            margin: 16px;
        
            @include tablet {
              width: 11.5625rem;
              transition: background-color 0.3s;

              &:hover {
                border-color: rgb(110, 22, 22);
              }
            }
        
            @include desktop {
              width: 17.125rem;
            }

    }

    &__sorter {
        width: 60vh;
        padding: 16px;
        font-size: .75rem;
        font-weight: 600;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        width: 60vh;
        margin: 16px;
    
        @include tablet {
          width: 11.5625rem;
          transition: background-color 0.3s;

          &:hover {
            border-color: rgb(110, 22, 22);
          }
        }
    
        @include desktop {
          width: 17.125rem;
        }

        // &:hover {
        //   border-color: rgb(110, 22, 22);
        // }

        // &:active {
        //   border-color: rgb(110, 22, 22);
        //   outline: none;

        //   @include tablet {
        //     width: 20%;

        //   }

        // }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}
