@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/global";

.logo {
  height: 250rem;
  width: 250rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 48rem;
  margin: 0 auto;

  @include tablet {
    height: 400rem;
    width: 400rem;
  }
}

.signin {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 12rem;
}

.welcome-message {
  margin: 16rem;
  padding: 0rem 50rem;
}
