@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/global";

.logo {
  height: 250px;
  width: 250px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 48px;
  margin: 0 auto;

  @include tablet {
    height: 400px;
    width: 400px;
  }
}

.signin {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 12px
}

.welcome-message {
  margin: 16px;
  padding: 0px 50px;
}