@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.page {
    display: flex;
    flex-direction: row;
}
.signin {
    width: 60vw;
}

.loginform {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2rem;
    margin: 3rem 2rem;
    margin-top: 6rem;
    padding: 2rem;
    width: 40vw;
    height: 50vh;
    text-align: center;


    &__header {
        padding-bottom: 2rem;
        text-align: center;
    }

    
}
