@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.loginform {
    background-color: white;
    border: 1px solid black;
    margin: 1.875rem 2.5rem;
    padding: 6rem;
}
